<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Inserisco il fragment per i tag dell'head-->
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Create</title>
</head>

<body>
    <div class="container">
        <div class="row" th:object="${pizza}">
            <div class="col-12">
                <h1 th:if="${edit}" class="text-center p-4">Aggiorna l'ingrediente alla pizza</h1>

                <h1 th:unless="${edit}" class="text-center p-4">Aggiungi un nuovo ingrediente alla pizza</h1>
                <div class="row justify-content-center">

                    <!--Inserisco il form-->
                    <form th:action="${edit} ? @{'/ingredienti/edit/' + ${ingrediente.id}} : @{/ingredienti/create}"
                        method="post" class="border border-black rounded p-4" th:object="${ingrediente}">

                        <!--Creo i vari input-->
                        <div class="mb-3">
                            <label for="nome">nome</label>
                            <input type="text" placeholder="Inserisci il nome dell'ingrediente" minlength="3"
                                maxlength="30" id="nome" class="form-control" th:field="*{nome}"
                                th:errorClass="is-invalid">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}">
                                <ul class="list-unstyled">
                                    <li th:each="error : ${#fields.errors('nome')}" th:text="${error}"></li>
                                </ul>

                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="descrizione">descrizione</label>
                            <textarea class="form-control" id="descrizione" th:field="*{descrizione}"
                                th:errorClass="is-invalid">

                                <div class="invalid-feedback" th:if="${#fields.hasErrors('descrizione')}">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('descrizione')}" th:text="${error}"></li>
                                    </ul>
                                </div>
                            </textarea>
                        </div>

                        <div class="mb-3 d-flex justify-content-around">

                            <button type="submit" class="btn btn-success" th:unless="${edit}">Crea
                                l'ingrediente</button>

                            <button type="submit" class="btn btn-success" th:if="${edit}">Aggiorna
                                l'ingrediente</button>

                            <button type="reset" class="btn btn-warning">Resetta il form</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>